/* Dark mode colors */
:root {
	--sl-color-accent-low: hsl(204, 31%, 11%);
	--sl-color-accent: hsl(204, 70%, 53%);
	--sl-color-accent-high: hsl(204, 70%, 77%);
	--sl-color-white: hsl(216, 28%, 93%);
	--sl-color-gray-1: hsl(214, 29%, 81%);
	--sl-color-gray-2: hsl(214, 20%, 75%);
	--sl-color-gray-3: hsl(210, 17%, 46%);
	--sl-color-gray-4: hsl(210, 7%, 28%);
	--sl-color-gray-5: hsl(210, 9%, 22%);
	--sl-color-gray-6: hsl(213, 11%, 16%);
	--sl-color-gray-7: hsl(214, 13%, 11%);

	--color-black-hsl: 214, 13%, 11%;
	--sl-color-black: hsl(var(--color-black-hsl));

	--pine-brand-1: rgb(46, 204, 113);
	--pine-brand-2: rgb(39, 174, 117);
	--pine-brand-3: rgb(52, 152, 219);
	--pine-gradient: linear-gradient(180deg, var(--pine-brand-1) 11%, var(--pine-brand-2) 54%, var(--pine-brand-3) 96%);
}

/* Light mode colors */
:root[data-theme="light"] {
	--sl-color-accent-low: hsl(204, 70%, 77%);
	--sl-color-accent: hsl(204, 70%, 53%);
	--sl-color-accent-high: hsl(204, 31%, 11%);
	--sl-color-white: hsl(214, 13%, 11%);
	--sl-color-gray-1: hsl(213, 11%, 16%);
	--sl-color-gray-2: hsl(210, 9%, 22%);
	--sl-color-gray-3: hsl(210, 7%, 28%);
	--sl-color-gray-4: hsl(210, 17%, 46%);
	--sl-color-gray-5: hsl(214, 20%, 75%);
	--sl-color-gray-6: hsl(214, 29%, 81%);
	--sl-color-gray-7: hsl(216, 28%, 93%);
	--color-black-hsl: 216, 28%, 97%;
}

/* Font */
:root {
	--sl-font: "Rubik Variable", sans-serif;
	--ec-codeFontFml: "JetBrains Mono Variable", monospace !important;
}

::selection {
	color: hsl(214, 13%, 11%);
	background-color: hsl(204, 70%, 77%);
}

.page > .header {
	border: none;
	box-shadow: var(--sl-shadow-md);
}

.sidebar-content {
	padding: 1.5rem var(--sl-sidebar-pad-x) 0;
}

.main-pane main .content-panel:first-child {
	padding: 2rem var(--sl-content-pad-x) 1.5rem;
}

.right-sidebar-panel {
	padding: 1.5rem var(--sl-sidebar-pad-x);
}

.c-breadcrumbs__separator {
	margin-bottom: -0.125rem;
}

.c-breadcrumbs__link.is-index > svg {
	margin-top: 0.125rem;
}

.c-breadcrumbs__link:hover {
	color: var(--sl-color-white);
}

.expressive-code .frame {
	--code-background: var(--sl-color-gray-6) !important;
}

[data-theme="light"] .expressive-code .frame {
	--code-background: var(--sl-color-gray-7) !important;
}

[data-has-hero] body {
	background-color: color-mix(in oklab, var(--sl-color-bg), var(--pine-brand-1) 5%);
}

[data-has-hero] .page {
	--color-1: rgba(46, 204, 113, 0.1);
	--color-2: rgba(39, 174, 117, 0.1);
	--color-3: rgba(52, 152, 219, 0.2);

	background: linear-gradient(215deg,var(--color-1),transparent 40%),radial-gradient(var(--color-2),transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,radial-gradient(var(--color-3),transparent 65%) no-repeat 50% calc(100% + 20rem) / 60rem 30rem;
}

[data-has-hero] .page .card {
	background-color: hsla(var(--color-black-hsl), 50%);
}

.about-wrapper .card-grid {
	margin-block: 5rem 0;
}