/* Dark mode colors. */
:root {
	--sl-color-accent-low: hsl(204, 31%, 11%);
	--sl-color-accent: hsl(204, 70%, 53%);
	--sl-color-accent-high: hsl(204, 70%, 77%);
	--sl-color-white: hsl(216, 28%, 93%);
	--sl-color-gray-1: hsl(214, 29%, 81%);
	--sl-color-gray-2: hsl(214, 20%, 75%);
	--sl-color-gray-3: hsl(210, 17%, 46%);
	--sl-color-gray-4: hsl(210, 7%, 28%);
	--sl-color-gray-5: hsl(210, 9%, 22%);
	--sl-color-gray-6: hsl(213, 11%, 16%);
	--sl-color-black: hsl(214, 13%, 11%);
}

/* Light mode colors. */
:root[data-theme="light"] {
	--sl-color-accent-low: hsl(204, 70%, 77%);
	--sl-color-accent: hsl(204, 70%, 53%);
	--sl-color-accent-high: hsl(204, 31%, 11%);
	--sl-color-white: #17181c;
	--sl-color-gray-1: #24272f;
	--sl-color-gray-2: #353841;
	--sl-color-gray-3: #545861;
	--sl-color-gray-4: #888b96;
	--sl-color-gray-5: #c0c2c7;
	--sl-color-gray-6: #eceef2;
	--sl-color-gray-7: #f5f6f8;
	--sl-color-black: #ffffff;
}

:root {
	--sl-font: "Rubik Variable", sans-serif;
	--ec-codeFontFml: "JetBrains Mono Variable", monospace !important;
}

.page > .header {
	border: none;
	box-shadow: var(--sl-shadow-md);
}

.sidebar-content {
	padding: 1.5rem var(--sl-sidebar-pad-x) 0;
}

.main-pane main .content-panel:first-child {
	padding: 2rem var(--sl-content-pad-x) 1.5rem;
}

.right-sidebar-panel {
	padding: 1.5rem var(--sl-sidebar-pad-x);
}

.c-breadcrumbs__separator {
	margin-bottom: -0.125rem;
}

.c-breadcrumbs__link.is-index > svg {
	margin-top: 0.125rem;
}

.c-breadcrumbs__link:hover {
	color: var(--sl-color-white);
}

.expressive-code .frame {
	--code-background: var(--sl-color-gray-6) !important;
}
