/* Dark mode colors */
:root {
	--sl-color-accent-low: hsl(204, 31%, 11%);
	--sl-color-accent: hsl(204, 70%, 53%);
	--sl-color-accent-high: hsl(204, 70%, 77%);
	--sl-color-white: hsl(216, 28%, 93%);
	--sl-color-gray-1: hsl(214, 29%, 81%);
	--sl-color-gray-2: hsl(214, 20%, 75%);
	--sl-color-gray-3: hsl(210, 17%, 46%);
	--sl-color-gray-4: hsl(210, 7%, 28%);
	--sl-color-gray-5: hsl(210, 9%, 22%);
	--sl-color-gray-6: hsl(213, 11%, 16%);
	--sl-color-gray-7: hsl(214, 13%, 11%);

	--color-black-hsl: 214, 13%, 11%;
	--sl-color-black: hsl(var(--color-black-hsl));

	--pine-brand-1: rgb(46, 204, 113);
	--pine-brand-2: rgb(39, 174, 117);
	--pine-brand-3: rgb(52, 152, 219);
	--pine-gradient: linear-gradient(180deg, var(--pine-brand-1) 11%, var(--pine-brand-2) 54%, var(--pine-brand-3) 96%);
}

/* Light mode colors */
:root[data-theme="light"] {
	--sl-color-accent-low: hsl(204, 70%, 77%);
	--sl-color-accent: hsl(204, 70%, 53%);
	--sl-color-accent-high: hsl(204, 31%, 11%);
	--sl-color-white: hsl(214, 13%, 11%);
	--sl-color-gray-1: hsl(213, 11%, 16%);
	--sl-color-gray-2: hsl(210, 9%, 22%);
	--sl-color-gray-3: hsl(210, 7%, 28%);
	--sl-color-gray-4: hsl(210, 17%, 46%);
	--sl-color-gray-5: hsl(214, 20%, 75%);
	--sl-color-gray-6: hsl(214, 29%, 81%);
	--sl-color-gray-7: hsl(216, 28%, 93%);
	--color-black-hsl: 216, 28%, 97%;
}

/* Font */
:root {
	--sl-font: "Rubik Variable", sans-serif;
	--ec-codeFontFml: "JetBrains Mono Variable", monospace !important;
}

::selection {
	color: hsl(214, 13%, 11%);
	background-color: hsl(204, 70%, 77%);
}

.page > .header {
	border: none;
	box-shadow: var(--sl-shadow-md);
}

.main-pane main .content-panel:first-child {
	padding: 2rem var(--sl-content-pad-x) 1.5rem;
}

.right-sidebar-panel {
	padding: 1.5rem var(--sl-sidebar-pad-x);
}

.title-wrapper h1 {
	text-transform: capitalize;
}

/* Breadcrumbs */

.c-breadcrumbs__separator {
	margin-bottom: -0.125rem;
}

.c-breadcrumbs__link.is-index > svg {
	margin-top: 0.125rem;
}

.c-breadcrumbs__link:hover {
	color: var(--sl-color-white);
}

/* Code blocks */

.expressive-code .frame {
	--code-background: var(--sl-color-gray-6) !important;
}

[data-theme="light"] .expressive-code .frame {
	--code-background: var(--sl-color-gray-7) !important;
}

/* Hero */

[data-has-hero] main .content-panel:first-child {
	padding: 0;
}

[data-has-hero] .content-panel .sl-container {
	max-width: unset;
}

[data-has-hero] .sl-markdown-content,
[data-has-hero] .hero {
	max-width: var(--sl-content-width);
}

@media (min-width: 72rem) {
	[data-has-hero] .sl-markdown-content,
	[data-has-hero] .hero {
		margin-inline: var(--sl-content-margin-inline, auto);
	}
}

[data-has-hero] .sl-markdown-content {
	padding: 2rem var(--sl-content-pad-x);
}

[data-has-hero] .hero {
	position: relative;
	padding-left: 2rem;
	padding-right: 2rem;
}

@media (max-width: 50rem) {
	[data-has-hero] .hero {
		padding-top: 2rem;	
	}
}

[data-has-hero] .hero::after,
[data-has-hero] .hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: min(calc((var(--sl-content-width) - 100vw) / 2), 0px);
	right: min(calc((var(--sl-content-width) - 100vw) / 2), 0px);
	height: 100%;
}

[data-has-hero] .hero::before {
	background: radial-gradient(rgba(52, 152, 219, 0.8), rgba(52, 152, 219, 0.2));
	z-index: -1;
	mix-blend-mode: hard-light;
}

[data-has-hero] .hero::after {
	background-image: url("@assets/hero-background.png");
	background-size: cover;
	background-position: center;
	opacity: 0.2;
	filter: brightness(50%);
	z-index: -2;
}

[data-has-hero] .tagline {
	color: var(--sl-color-gray-1);
}

/* About section */

.about-wrapper .card-grid {
	margin-block: 5rem 0;
}

/* Images */
.sl-markdown-content p > img {
	border: 1px solid var(--sl-color-gray-5);
    border-radius: 0.5rem;
    padding: 1rem;
    text-decoration: none;
    color: var(--sl-color-gray-2);
    box-shadow: var(--sl-shadow-md);
}

/* Footnotes */

[data-footnote-ref] {
	text-decoration: none;
}
[data-footnote-ref]::before {
	content: "[";
}
[data-footnote-ref]::after {
	content: "]";
}

/* Sidebar */

.sidebar-content {
	padding: 1.5rem var(--sl-sidebar-pad-x) 0;
}

.sidebar-content a, .sidebar-content .group-label {
	text-transform: capitalize;
}