---
import { Icon } from "@astrojs/starlight/components";

interface Props {
	href: string;
	label: string;
}

const { href, label } = Astro.props;
---

<a {href} rel="me" target="_blank" class="sl-flex">
	<span>{label}</span>
	<Icon name={"external"}/>
</a>

<style>
	a {
		align-items: center;
		gap: 0.25rem;
		color: var(--sl-color-gray-1);
		font-size: var(--sl-text-sm);
		text-decoration: none;
		text-overflow: ellipsis;
	}

	a:hover {
		color: var(--sl-color-gray-2);
	}

	a > svg {
		color: inherit;
	}
</style>