---
import LanguageSelect from 'virtual:starlight/components/LanguageSelect';
import SocialIcons from 'virtual:starlight/components/SocialIcons';
import ThemeSelect from 'virtual:starlight/components/ThemeSelect';
import HeaderLinks from './HeaderLinks.astro';
---

<div class="mobile-preferences sl-flex">
	<div class="social-icons">
		<SocialIcons />
	</div>
	<HeaderLinks class="external-links"/>
	<ThemeSelect />
	<LanguageSelect />
</div>

<style>
	@layer starlight.core {
		.social-icons {
			display: flex;
			gap: 1rem;
			align-items: center;
			padding-block: 1rem;
		}
		.social-icons:empty {
			display: none;
		}
		.mobile-preferences {
			justify-content: space-between;
			flex-wrap: wrap;
			border-top: 1px solid var(--sl-color-gray-6);
			column-gap: 1rem;
			padding: 0.5rem 0;
		}
	}

	/* Custom styling */
	.external-links {
		gap: 1rem;
		align-items: center;
		margin-inline-end: auto;
	}

	.external-links::before {
		content: '';
		height: 2rem;
		border-inline-start: 1px solid var(--sl-color-gray-5);
	}
</style>